@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.card {
		background: #fff;
		min-width: 600px;
		max-width: 600px;
		position: relative;
		display: flex;
		text-align: left;
		flex-direction: column;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
		min-height: 300px;
		max-height: 300px;
		margin: 2rem;
	}

	.logo {
		min-width: 100px;
		max-width: 100px;
		position: relative;
		display: flex;
		text-align: left;
		flex-direction: column;
		min-height: 100px;
		max-height: 100px;
		margin: 2rem;
	}
}
