@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.card-header {
	}

	.logo {
		min-width: 100px;
		max-width: 100px;
		position: relative;
		display: flex;
		text-align: left;
		flex-direction: column;
		min-height: 100px;
		max-height: 100px;
		margin: 2rem;
	}
}
